<h1>Characters page</h1>

<h2>Find character by ID:</h2>
<input type="text" id="searc-character-input">
<button id="search-character-button">Search</button>

<div id="search-character-div"></div>

<h2>All characters</h2>
<ul id="all-characters">


</ul>

<h2>Create new character</h2>

<label for="name">Name: </label>
<input type="text" id="name" name="name">

</br>

<label for="name">occupation: </label>
<input type="text" id="occupation" name="occupation">

</br>

<label for="name">cartoon (true or false): </label>
<input type="text" id="cartoon" name="cartoon">

</br>

<label for="name">weapon: </label>
<input type="text" id="weapon" name="cartoon">

</br>

<button id="create-character-button">Create character</button>

<h2>Search by ID and edit: </h2>
<input type="text" id="edit-character-id">
<button id="edit-character-button">Edit character</button>


<div id="created-character-div"></div>